* {
    /* outline: 1px solid red; */
    margin:0px;
    padding:0px;
    box-sizing: border-box;

    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

.ziti {
    height: auto;
    width: 500px;
}

.pizza {
    height: auto;
    width: 500px;
}

.peppers {
    height: auto;
    width: 500px;
}

h1 {
    text-align: center;
    font-family: "ONE PIECE";
    font-size: 70px;
    background-color: hsl(120,90%, 90%);
    color: hsl(0deg 100% 43%);
    margin: 30px;
}

.rel-link {
    list-style:circle;
    padding: 30px;
}

.original-recipe {
    color: hsl(0deg 100% 43%);
    /* outline: 1px solid blue; */

}

.original-recipe-container {
    /* outline: 1px solid blue; */
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.h3-container {
    /* outline: 1px solid red; */
    padding: 5px 30px;
    margin: 5px;
}

.h3-container h3,
.h3-container p,
.h3-container li {
    /* outline:1px solid black; */
    padding: 2.5px 0px;
}

.top-link,
.home-link {
    /* outline: 1px solid red; */
    font-size: 24px;
    padding: 2.5px;
    margin: 10px;
    color: black;
}

.pizza-link,
.peppers-link {
    /* outline: 1px solid red; */
    padding: 5px;
    margin: 8px 10px;
}